# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store

# Spring Boot
*.pid

# Node (if UI added later)
node_modules/
/dist/

# Env
.env
